<navigation (emitNewGame)="onEmitNew()" (emitDebugGame)="onEmitDebug()"></navigation>
<div class="container">
  <div class="view-game">
    <div class="board turn-1">

      <!-- Row 1 - Player 3 -->
      <div class="row board-row-1">
        <!-- Player 3 -->
        <div class="col-md-4 offset-md-4">
          <player [player]="gameService.players[2]"></player>
        </div>      
      </div>

      <!-- Row 2 - Player 2, Board, Player 4 -->
      <div class="row board-row-2">
        <!-- Player 2 -->
        <div class="col-md-4">
          <player [player]="gameService.players[1]"></player>
        </div>
        <!-- Board -->
        <div class="col-md-4">
          <div id="pit" class="player clearfix">
            <h4>Board<span class="info-icon"><i class="fas fa-info-circle" (click)="gameService.debug(gameService.board)"></i></span></h4>
            <p>
              <span *ngIf="gameService.turn > 0">Turn: {{ gameService.turn }}</span>
              <span *ngIf="gameService.activePlayer">  |  Active Player: {{ gameService.activePlayer.name }}</span>
              <span *ngIf="gameService.leadValue">  |  Lead: {{ gameService.leadValue }}</span>
            </p>
            <div class="hand">
              <div *ngFor="let domino of gameService.board?.set">
                <domino [primary]="domino.primary" [secondary]="domino.secondary"></domino>
              </div>
            </div>
          </div>
        </div>
        <!-- Player 4 -->
        <div class="col-md-4">
          <player [player]="gameService.players[3]" class="float-right"></player>
        </div>
      </div>

      <!-- Row 3 - Log, Player 1, Graveyard -->
      <div class="row board-row-3">
        <!-- Log -->
        <div class="col-md-4">
          <div class="game-log">
            <p *ngFor="let log of gameService.log">{{ log }}</p>
          </div>
        </div>
        <!-- Player 1 -->
        <div class="col-md-4">
          <player [player]="gameService.players[0]"></player>
        </div>
        <!-- Graveyard -->
        <div class="col-md-4">
          <div class="player clearfix">
            <h4>Graveyard</h4>
            <div class="hand row">
              <div *ngFor="let trick of gameService.grave">
                <span class="info-icon"><i class="fas fa-info-circle" (click)="gameService.debug(trick)"></i></span>
                <span *ngFor="let domino of trick.set">
                  <domino [primary]="domino.primary" [secondary]="domino.secondary" (click)="onClickGrave(domino)"></domino>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<bid (emitBid)="onDeclareBid($event)"></bid>
<trick (emitNextTrick)="onEmitNext()"></trick>
