<navigation (emitNewGame)="onEmitNew()" (emitDebugGame)="onEmitDebug()"></navigation>
<div class="container">
  <div class="view-game">
    <div *ngIf="state.turn >= 1 || state.isTestMode" class="board">

      <!-- Row 1 - Player 3 -->
      <div class="row board-row-1">
        <!-- Player 3 -->
        <div class="col-md-4 offset-md-4">
          <player [player]="state.players[2]"></player>
        </div>      
      </div>

      <!-- Row 2 - Player 2, Board, Player 4 -->
      <div class="row board-row-2">
        <!-- Player 2 -->
        <div class="col-md-4">
          <player [player]="state.players[1]"></player>
        </div>
        <!-- Board -->
        <div class="col-md-4">
          <div id="pit" class="player clearfix">
            <h4>Board<span *ngIf="state.showDebugIcons" class="info-icon"><mat-icon class="info-icon" fontIcon="info" (click)="gameService.debug(state.board)"></mat-icon></span></h4>
            <p>
              <span *ngIf="state.turn > 0">Turn: {{ state.turn }}</span>
              <span *ngIf="state.activePlayer">  |  Active Player: {{ state.activePlayer.name }}</span>
              <span *ngIf="state.leadValue">  |  Lead: {{ state.leadValue }}</span>
            </p>
            <div class="hand">
              <div *ngFor="let domino of state.board?.set">
                <domino [primary]="domino.primary" [secondary]="domino.secondary"></domino>
              </div>
            </div>
          </div>
        </div>
        <!-- Player 4 -->
        <div class="col-md-4">
          <player [player]="state.players[3]" class="float-right"></player>
        </div>
      </div>

      <!-- Row 3 - Log, Player 1, Graveyard -->
      <div class="row board-row-3">
        <!-- Log -->
        <div class="col-md-4">
          <div *ngIf="state.showLog" class="game-log">
            <p *ngFor="let log of state.log">{{ log }}</p>
          </div>
        </div>
        <!-- Player 1 -->
        <div class="col-md-4">
          <player [player]="state.players[0]"></player>
        </div>
        <!-- Graveyard -->
        <div class="col-md-4">
          <div class="player clearfix">
            <h4>Graveyard<span *ngIf="state.showDebugIcons" class="info-icon"><mat-icon class="info-icon" fontIcon="info" (click)="gameService.debug(state.grave)"></mat-icon></span></h4>
            <div class="hand row">
              <div *ngFor="let trick of state.grave">
                <span *ngIf="state.showTrickDetails && !state.isTestMode" class="trick-details">
                  <ul>
                    <li>Count: {{ trick.count }}</li>
                    <li>Lead: {{ trick.leadDomino.getValue(state.bid.trump) }}</li>
                    <li>Winning Domino: {{ trick.winningDomino.getValue(state.bid.trump) }}</li>
                    <li>Winning Player: {{ trick.winningPlayer.name }}</li>
                  </ul>                  
                </span>
                <span *ngFor="let domino of trick.set">
                  <domino [primary]="domino.primary" [secondary]="domino.secondary" (click)="onClickGrave(domino)"></domino>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<bid (emitBid)="onDeclareBid($event)"></bid>
<trick (emitNextTrick)="onEmitNext()"></trick>
